$margin-sm: 8px;

.ui.container.cardContainer {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    height: 200px;
    width: 100%;
}

.ui.image.playingCard {
    padding: 0;
    margin: $margin-sm;
    max-width: calc(25% - 1em);
    width: calc(25% - 1em);
    min-width: 150px;
    flex: 0 1 150px;
}